.mask-group-icon2 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1440px;
  height: 962px;
  object-fit: cover;
}
.footer-bg-icon2 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1440px;
  height: 574px;
}
.uber4,
.visit-help-center2 {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-12xl);
  font-weight: 500;
}
.visit-help-center2 {
  top: 65px;
  font-size: var(--font-size-6xl);
}
.about-us17,
.newsroom7 {
  position: absolute;
  top: 59px;
  left: 1px;
  font-weight: 500;
}
.newsroom7 {
  top: 89px;
}
.blog2,
.careers2,
.company8,
.investors2 {
  position: absolute;
  top: 119px;
  left: 0;
  font-weight: 500;
}
.blog2,
.careers2,
.company8 {
  top: 149px;
}
.careers2,
.company8 {
  top: 179px;
}
.company8 {
  top: 0;
  left: 3px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.company-footer2 {
  position: absolute;
  top: 153px;
  left: 0;
  width: 118px;
  height: 202px;
}
.diversity2,
.safety8 {
  position: absolute;
  top: 59px;
  left: 4px;
  font-weight: 500;
}
.diversity2 {
  top: 89px;
  left: 0;
}
.global-citizenship7,
.transparency2 {
  position: absolute;
  top: 119px;
  left: 2px;
  font-weight: 500;
}
.global-citizenship7 {
  top: 0;
  left: 0;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.global-citizenship-footer2,
.innovation-footer2,
.products-footer2 {
  position: absolute;
  top: 153px;
  left: 578px;
  width: 219px;
  height: 142px;
}
.innovation-footer2,
.products-footer2 {
  left: 868px;
  width: 130px;
}
.products-footer2 {
  left: 288px;
  width: 161px;
  height: 202px;
}
.footer2,
.inside-footer-info2 {
  position: absolute;
  top: 67px;
  left: 152px;
  width: 998px;
  height: 355px;
}
.footer2 {
  top: 3608px;
  left: -1px;
  width: 1440px;
  height: 574px;
  font-size: var(--font-size-lgi);
  color: var(--color-snow-100);
  font-family: var(--font-inter);
}
.signup-to-drive3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
  font-weight: 500;
  display: inline-block;
  width: 541px;
  height: 59px;
}
.underline15 {
  position: absolute;
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 551px;
  height: 1px;
}
.drive5,
.ride9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 66px;
}
.ride9 {
  left: 578px;
}
.arrow-vector-icon4,
.arrow-vector-icon5 {
  position: absolute;
  height: 35.58%;
  width: 3.05%;
  top: 27.95%;
  right: 53.48%;
  bottom: 36.47%;
  left: 43.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-vector-icon5 {
  right: 1.88%;
  left: 95.07%;
}
.th-section6 {
  position: absolute;
  top: 3502px;
  left: 156px;
  width: 1128px;
  height: 66px;
  font-size: var(--font-size-24xl);
}
.global-citizenship9 {
  position: absolute;
  top: 41.33px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 252px;
  height: 46px;
}
.read-about-our2 {
  position: absolute;
  top: 94.33px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 361px;
  height: 66px;
}
.vector-icon5 {
  position: absolute;
  height: 14.24%;
  width: 8.77%;
  top: -0.37%;
  right: 90.35%;
  bottom: 86.13%;
  left: 0.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more14 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 40px;
  flex-shrink: 0;
}
.frame-child3 {
  position: relative;
  width: 88.03px;
  height: 1.4px;
}
.learn-more-parent9 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 107px;
  height: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.global-citizenship8 {
  position: absolute;
  top: 0;
  left: 770px;
  width: 361px;
  height: 224px;
}
.about-us19,
.find-out-how2 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.about-us19 {
  top: 36.04px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 23.48px;
}
.find-out-how2 {
  top: 89.29px;
  line-height: 30px;
  width: 361px;
  height: 66px;
}
.vector-icon6 {
  position: absolute;
  height: 13.09%;
  width: 8.24%;
  top: 0;
  right: 90.11%;
  bottom: 86.91%;
  left: 1.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more15 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 53px;
  flex-shrink: 0;
  z-index: 0;
}
.frame-child4 {
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: -0.02px;
  width: 88.02px;
  height: 1.55px;
  z-index: 1;
}
.learn-more-parent10 {
  position: absolute;
  top: 177.96px;
  left: 0;
  width: 104px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.about-us18,
.newsroom9 {
  position: absolute;
  top: 5.04px;
  left: 0;
  width: 364px;
  height: 230.96px;
}
.newsroom9 {
  top: 41.33px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 147px;
  height: 42px;
}
.group-icon2 {
  position: absolute;
  height: 14.12%;
  width: 8.66%;
  top: -0.28%;
  right: 90.41%;
  bottom: 86.16%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more16 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 113px;
  height: 39px;
  flex-shrink: 0;
}
.learn-more-parent11 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 102px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsroom8,
.th-section7 {
  position: absolute;
  top: 0;
  left: 385px;
  width: 361px;
  height: 223px;
}
.th-section7 {
  top: 3185px;
  left: 153px;
  width: 1131px;
  height: 236px;
}
.rd-section-image2 {
  position: absolute;
  top: 15px;
  left: 563px;
  width: 551px;
  height: 256px;
  object-fit: cover;
}
.our-commitment-to2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  line-height: 47px;
  font-weight: 500;
  display: inline-block;
  width: 469px;
  height: 101px;
}
.learn-more-about3,
.see-all-safety2,
.with-every-safety2 {
  position: absolute;
  top: 249px;
  left: 3px;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
}
.learn-more-about3,
.with-every-safety2 {
  top: 218px;
  line-height: 31px;
  width: 456px;
}
.with-every-safety2 {
  top: 106px;
  left: 0;
  line-height: 30px;
  width: 524px;
  height: 100px;
}
.underline-icon8,
.underline-icon9 {
  position: absolute;
  top: 244.98px;
  left: 5px;
  width: 376px;
  height: 2.02px;
}
.underline-icon9 {
  top: 289px;
  left: 4.99px;
  width: 184.01px;
  height: 3.03px;
}
.th-section-info2,
.th-section8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 524px;
  height: 292.03px;
}
.th-section8 {
  top: 2739px;
  left: 159px;
  width: 1114px;
}
.the-power-of2,
.uber-for-business5 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 51px;
  display: inline-block;
  width: 347px;
  height: 43px;
}
.uber-for-business5 {
  top: 0;
  font-size: var(--font-size-33xl);
  line-height: 63px;
  font-weight: 500;
  width: 469px;
  height: 65px;
}
.work-meals-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 361px;
  height: 268px;
  object-fit: cover;
}
.delight-your-employees2,
.work-meals5 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.work-meals5 {
  top: 293px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 43px;
}
.delight-your-employees2 {
  top: 341px;
  line-height: 30px;
  width: 361px;
  height: 100px;
}
.learn-more17 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline17 {
  position: absolute;
  margin: 0 !important;
  top: 42.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94px;
  height: 1px;
  z-index: 1;
}
.learn-more-parent12 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 105px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.employee-rides-image2,
.work-meals4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 489px;
}
.employee-rides-image2 {
  width: 360px;
  height: 268px;
  object-fit: cover;
}
.employee-rides5 {
  position: absolute;
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 205px;
  height: 43px;
}
.learn-more-parent13 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 104px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.courtesy-rides5,
.employee-rides4 {
  position: absolute;
  top: 0;
  left: 384px;
  width: 364px;
  height: 489px;
}
.courtesy-rides5 {
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 201px;
  height: 43px;
}
.learn-more-parent14 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 107px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.courtesy-rides4 {
  position: absolute;
  top: 0;
  left: 768px;
  width: 364px;
  height: 489px;
}
.cards-in-3rd-section2,
.nd-section-bg2,
.rd-section2 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 1132px;
  height: 489px;
}
.nd-section-bg2,
.rd-section2 {
  top: 1901px;
  left: 154px;
  height: 660px;
}
.nd-section-bg2 {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1440px;
  height: 791px;
}
.india-map-icon2 {
  position: absolute;
  top: calc(50% - 203.5px);
  right: 0;
  width: 850px;
  height: 527px;
  object-fit: cover;
}
.setting-10000-cities2 {
  position: absolute;
  top: 142px;
  left: 154px;
  line-height: 63px;
  font-weight: 500;
  display: inline-block;
  width: 652px;
  height: 126px;
}
.view-cities3 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 362px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline-icon10 {
  position: absolute;
  margin: 0 !important;
  top: 38.98px;
  left: -0.01px;
  width: 86.25px;
  height: 2.02px;
  z-index: 1;
}
.view-cities-parent1 {
  position: absolute;
  top: 289px;
  left: 154px;
  width: 99px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mid);
}
.bg2,
.home-page-bg2,
.nd-section2 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.nd-section2 {
  top: 1024px;
  height: 791px;
  font-size: var(--font-size-33xl);
}
.bg2,
.home-page-bg2 {
  top: 64px;
  background-color: var(--color-gray-900);
  height: 958px;
}
.bg2 {
  top: 0;
  background-color: var(--color-gray-200);
  width: 1152px;
  height: 121px;
}
.carbonhelicopter-icon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 15.5px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.elevate8 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24.5px);
  font-weight: 500;
}
.elevate7 {
  position: absolute;
  top: 26px;
  left: calc(50% + 482px);
  width: 49px;
  height: 65px;
}
.mingcutebike-line-icon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.bike4,
.bike5 {
  position: absolute;
}
.bike5 {
  top: 51px;
  left: calc(50% - 14px);
  font-weight: 500;
}
.bike4 {
  top: 23px;
  left: calc(50% + 347px);
  width: 30px;
  height: 68px;
}
.transit5 {
  position: absolute;
  top: 54px;
  left: calc(50% - 23px);
  font-weight: 500;
}
.transit-child,
.transit4 {
  position: absolute;
  width: 124px;
}
.transit-child {
  top: 94px;
  left: calc(50% - 62px);
  background-color: var(--color-gray-600);
  height: 4px;
}
.transit4 {
  top: 23px;
  left: calc(50% + 156px);
  height: 98px;
}
.business5 {
  position: absolute;
  top: 49px;
  left: calc(50% - 30.5px);
  font-weight: 500;
}
.business4 {
  position: absolute;
  top: 23px;
  left: calc(50% + 44px);
  width: 61px;
  height: 66px;
}
.bitrain-freight-front-icon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 13px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.freight5 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24px);
  font-weight: 500;
}
.freight4 {
  position: absolute;
  top: 21px;
  left: calc(50% - 94px);
  width: 48px;
  height: 65px;
}
.fluentfood-16-filled-icon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.eat7,
.eat8 {
  position: absolute;
}
.eat8 {
  top: 47px;
  left: calc(50% - 11.5px);
  font-weight: 500;
}
.eat7 {
  top: 22px;
  left: calc(50% - 227px);
  width: 25px;
  height: 64px;
}
.image-2-icon2 {
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.image-2-icon2,
.ride10,
.ride11 {
  position: absolute;
}
.ride11 {
  top: 53px;
  left: calc(50% - 15px);
  font-weight: 500;
}
.ride10 {
  top: 19px;
  left: calc(50% - 373px);
  width: 30px;
  height: 70px;
}
.image-1-icon2 {
  top: 0;
  left: calc(50% - 13.5px);
  width: 30px;
  height: 26.36px;
  object-fit: cover;
}
.earn4,
.earn5,
.image-1-icon2 {
  position: absolute;
}
.earn5 {
  top: 53px;
  left: calc(50% - 16.5px);
  font-weight: 500;
}
.earn4 {
  top: 19px;
  left: calc(50% - 518px);
  width: 33px;
  height: 70px;
}
.hero-icons2 {
  position: absolute;
  top: 105px;
  left: 142px;
  width: 1152px;
  height: 121px;
}
.border-icon2,
.hero-rectangle2 {
  position: absolute;
  left: 0;
  width: 612px;
}
.hero-rectangle2 {
  top: 0.02px;
  background-color: var(--color-whitesmoke-100);
  height: 386px;
}
.border-icon2 {
  top: -0.5px;
  height: 1.52px;
}
.download-the-new,
.put-your-skills {
  position: absolute;
  left: 56px;
  display: flex;
  align-items: center;
}
.put-your-skills {
  top: 26.02px;
  font-size: var(--font-size-27xl);
  line-height: 51px;
  width: 420px;
  height: 126px;
}
.download-the-new {
  top: 158.02px;
  line-height: 23px;
  width: 531px;
}
.button-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-600);
  width: 233px;
  height: 59px;
}
.find-work {
  position: absolute;
  top: 3px;
  left: calc(50% - 89.5px);
  line-height: 51px;
}
.button2 {
  position: absolute;
  top: 227.02px;
  left: 56px;
  width: 233px;
  height: 59px;
  font-size: var(--font-size-3xl);
  color: var(--color-whitesmoke-100);
}
.find-workers1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
}
.underline20 {
  position: absolute;
  top: 47.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 112px;
  height: 1px;
}
.find-workers-group,
.hero-content2 {
  position: absolute;
  top: 296.02px;
  left: 56px;
  width: 111px;
  height: 51px;
}
.hero-content2 {
  top: 225.98px;
  left: 142px;
  width: 612px;
  height: 386.02px;
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
}
.nav-inside2 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-800);
  width: 1280px;
  height: 64px;
}
.nav2,
.uber5 {
  position: absolute;
  left: 0;
}
.nav2 {
  top: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 64px;
}
.uber5 {
  top: 5px;
  font-size: var(--font-size-5xl);
}
.company-child1,
.company10 {
  position: absolute;
  top: 0;
  left: 0;
}
.company-child1 {
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 138px;
  height: 38px;
}
.company10 {
  font-weight: 500;
}
.company-parent1,
.group-child14 {
  position: absolute;
  top: 7.59px;
  left: 76.71px;
  width: 11.59px;
  height: 5.02px;
}
.company-parent1 {
  top: 10px;
  left: 25px;
  width: 88px;
  height: 17px;
}
.company9 {
  top: 2px;
  left: 81px;
  width: 138px;
  height: 38px;
}
.company9,
.en-child1,
.en7 {
  position: absolute;
}
.en-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-700);
  width: 91px;
  height: 38px;
}
.en7 {
  top: 10px;
  left: 46px;
  font-weight: 500;
  display: inline-block;
  width: 20px;
  height: 17px;
}
.en-logo-icon3 {
  position: absolute;
  top: 9px;
  left: 19px;
  width: 21px;
  height: 20px;
}
.en6,
.products-child1 {
  position: absolute;
  top: 3px;
  left: 718px;
  width: 91px;
  height: 38px;
}
.products-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-500);
  width: 126px;
}
.products10 {
  position: absolute;
  top: 10px;
  left: 47px;
  font-weight: 500;
  display: inline-block;
  width: 66.65px;
}
.products-logo-child25,
.products-logo-child26,
.products-logo-child27,
.products-logo-child28,
.products-logo-child29 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child26,
.products-logo-child27,
.products-logo-child28,
.products-logo-child29 {
  top: 6.8px;
}
.products-logo-child27,
.products-logo-child28,
.products-logo-child29 {
  top: 13.6px;
  left: 7.57px;
}
.products-logo-child28,
.products-logo-child29 {
  left: 15.13px;
}
.products-logo-child29 {
  left: 0;
}
.products-logo-child30,
.products-logo-child31,
.products-logo-child32,
.products-logo-child33 {
  position: absolute;
  top: 6.8px;
  left: 7.57px;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child31,
.products-logo-child32,
.products-logo-child33 {
  left: 15.13px;
}
.products-logo-child32,
.products-logo-child33 {
  top: 0;
  left: 7.57px;
}
.products-logo-child33 {
  left: 15.13px;
}
.products-logo3 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 18.57px;
  height: 17px;
}
.login-child1,
.products9 {
  position: absolute;
  top: 3px;
  left: 831px;
  width: 126px;
  height: 38px;
}
.login-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 111px;
}
.login7 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-weight: 500;
  display: inline-block;
  width: 37.29px;
}
.login-logo-icon3 {
  position: absolute;
  top: 8px;
  left: 23.44px;
  width: 18.63px;
  height: 19px;
}
.login6,
.signup-inner {
  position: absolute;
  top: 4px;
  left: 979px;
  width: 111px;
  height: 38px;
}
.signup-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-snow-200);
  width: 96px;
}
.signup5 {
  position: absolute;
  top: 9px;
  left: 25px;
  font-weight: 500;
}
.safety-child1,
.signup4 {
  position: absolute;
  height: 38px;
}
.signup4 {
  top: 5px;
  left: 1112px;
  width: 96px;
  color: var(--color-gray-300);
}
.safety-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-300);
  width: 93px;
}
.safety10 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 20.5px);
  font-weight: 500;
  display: inline-block;
  width: 44px;
  height: 0.38px;
}
.help-child1,
.safety9 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 93px;
  height: 38px;
}
.help-child1 {
  top: 38px;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-400);
  width: 75px;
}
.help7 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 15.5px);
  font-weight: 500;
  display: inline-block;
  width: 31px;
  height: 0.4px;
}
.help6,
.nav-contents2 {
  position: absolute;
  top: 0;
  left: 366px;
  width: 75px;
  height: 38px;
}
.nav-contents2 {
  top: 13px;
  left: 142px;
  width: 1208px;
  height: 43px;
}
.navbar2,
.st-section2 {
  position: absolute;
  width: 1440px;
}
.navbar2 {
  top: 0;
  left: calc(50% - 720px);
  height: 64px;
  color: var(--color-snow-100);
}
.st-section2 {
  top: 2px;
  left: 0;
  height: 1022px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.desktop-6 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 4182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
