.mask-group-icon6 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1443px;
  height: 962px;
  object-fit: cover;
}
.footer-bg-icon6 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1440px;
  height: 574px;
}
.uber12,
.visit-help-center6 {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-12xl);
  font-weight: 500;
}
.visit-help-center6 {
  top: 65px;
  font-size: var(--font-size-6xl);
}
.about-us29,
.newsroom19 {
  position: absolute;
  top: 59px;
  left: 1px;
  font-weight: 500;
}
.newsroom19 {
  top: 89px;
}
.blog6,
.careers6,
.company20,
.investors6 {
  position: absolute;
  top: 119px;
  left: 0;
  font-weight: 500;
}
.blog6,
.careers6,
.company20 {
  top: 149px;
}
.careers6,
.company20 {
  top: 179px;
}
.company20 {
  top: 0;
  left: 3px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.company-footer6 {
  position: absolute;
  top: 153px;
  left: 0;
  width: 118px;
  height: 202px;
}
.diversity6,
.safety20 {
  position: absolute;
  top: 59px;
  left: 4px;
  font-weight: 500;
}
.diversity6 {
  top: 89px;
  left: 0;
}
.global-citizenship19,
.transparency6 {
  position: absolute;
  top: 119px;
  left: 2px;
  font-weight: 500;
}
.global-citizenship19 {
  top: 0;
  left: 0;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.global-citizenship-footer6,
.innovation-footer6,
.products-footer6 {
  position: absolute;
  top: 153px;
  left: 578px;
  width: 219px;
  height: 142px;
}
.innovation-footer6,
.products-footer6 {
  left: 868px;
  width: 130px;
}
.products-footer6 {
  left: 288px;
  width: 161px;
  height: 202px;
}
.footer6,
.inside-footer-info6 {
  position: absolute;
  top: 67px;
  left: 152px;
  width: 998px;
  height: 355px;
}
.footer6 {
  top: 3608px;
  left: -1px;
  width: 1440px;
  height: 574px;
  font-size: var(--font-size-lgi);
  color: var(--color-snow-100);
  font-family: var(--font-inter);
}
.signup-to-drive7 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
  font-weight: 500;
  display: inline-block;
  width: 541px;
  height: 59px;
}
.underline37 {
  position: absolute;
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 551px;
  height: 1px;
}
.drive13,
.ride25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 66px;
}
.ride25 {
  left: 578px;
}
.arrow-vector-icon12,
.arrow-vector-icon13 {
  position: absolute;
  height: 35.58%;
  width: 3.05%;
  top: 27.95%;
  right: 53.48%;
  bottom: 36.47%;
  left: 43.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-vector-icon13 {
  right: 1.88%;
  left: 95.07%;
}
.th-section18 {
  position: absolute;
  top: 3502px;
  left: 156px;
  width: 1128px;
  height: 66px;
  font-size: var(--font-size-24xl);
}
.global-citizenship21 {
  position: absolute;
  top: 41.33px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 252px;
  height: 46px;
}
.read-about-our6 {
  position: absolute;
  top: 94.33px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 361px;
  height: 66px;
}
.vector-icon13 {
  position: absolute;
  height: 14.24%;
  width: 8.77%;
  top: -0.37%;
  right: 90.35%;
  bottom: 86.13%;
  left: 0.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more39 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 40px;
  flex-shrink: 0;
}
.frame-child15 {
  position: relative;
  width: 88.03px;
  height: 1.4px;
}
.learn-more-parent33 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 107px;
  height: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.global-citizenship20 {
  position: absolute;
  top: 0;
  left: 770px;
  width: 361px;
  height: 224px;
}
.about-us31,
.find-out-how6 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.about-us31 {
  top: 36.04px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 23.48px;
}
.find-out-how6 {
  top: 89.29px;
  line-height: 30px;
  width: 361px;
  height: 66px;
}
.vector-icon14 {
  position: absolute;
  height: 13.09%;
  width: 8.24%;
  top: 0;
  right: 90.11%;
  bottom: 86.91%;
  left: 1.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more40 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 53px;
  flex-shrink: 0;
  z-index: 0;
}
.frame-child16 {
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: -0.02px;
  width: 88.02px;
  height: 1.55px;
  z-index: 1;
}
.learn-more-parent34 {
  position: absolute;
  top: 177.96px;
  left: 0;
  width: 104px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.about-us30,
.newsroom21 {
  position: absolute;
  top: 5.04px;
  left: 0;
  width: 364px;
  height: 230.96px;
}
.newsroom21 {
  top: 41.33px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 147px;
  height: 42px;
}
.group-icon6 {
  position: absolute;
  height: 14.12%;
  width: 8.66%;
  top: -0.28%;
  right: 90.41%;
  bottom: 86.16%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more41 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 113px;
  height: 39px;
  flex-shrink: 0;
}
.learn-more-parent35 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 102px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsroom20,
.th-section19 {
  position: absolute;
  top: 0;
  left: 385px;
  width: 361px;
  height: 223px;
}
.th-section19 {
  top: 3185px;
  left: 153px;
  width: 1131px;
  height: 236px;
}
.rd-section-image6 {
  position: absolute;
  top: 15px;
  left: 563px;
  width: 551px;
  height: 256px;
  object-fit: cover;
}
.our-commitment-to6 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  line-height: 47px;
  font-weight: 500;
  display: inline-block;
  width: 469px;
  height: 101px;
}
.learn-more-about7,
.see-all-safety6,
.with-every-safety6 {
  position: absolute;
  top: 249px;
  left: 3px;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
}
.learn-more-about7,
.with-every-safety6 {
  top: 218px;
  line-height: 31px;
  width: 456px;
}
.with-every-safety6 {
  top: 106px;
  left: 0;
  line-height: 30px;
  width: 524px;
  height: 100px;
}
.underline-icon22 {
  position: absolute;
  top: 244.98px;
  left: 5px;
  width: 376px;
  height: 2.02px;
}
.underline-icon23 {
  position: absolute;
  top: 289px;
  left: 4.99px;
  width: 184.01px;
  height: 3.03px;
}
.th-section-info6,
.th-section20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 524px;
  height: 292.03px;
}
.th-section20 {
  top: 2739px;
  left: 159px;
  width: 1114px;
}
.the-power-of6,
.uber-for-business14 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 51px;
  display: inline-block;
  width: 347px;
  height: 43px;
}
.uber-for-business14 {
  top: 0;
  font-size: var(--font-size-33xl);
  line-height: 63px;
  font-weight: 500;
  width: 469px;
  height: 65px;
}
.work-meals-image6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 361px;
  height: 268px;
  object-fit: cover;
}
.delight-your-employees6,
.work-meals13 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.work-meals13 {
  top: 293px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 43px;
}
.delight-your-employees6 {
  top: 341px;
  line-height: 30px;
  width: 361px;
  height: 100px;
}
.learn-more42 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline39 {
  position: absolute;
  margin: 0 !important;
  top: 42.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94px;
  height: 1px;
  z-index: 1;
}
.learn-more-parent36 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 105px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.employee-rides-image6,
.work-meals12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 489px;
}
.employee-rides-image6 {
  width: 360px;
  height: 268px;
  object-fit: cover;
}
.employee-rides13 {
  position: absolute;
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 205px;
  height: 43px;
}
.learn-more-parent37 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 104px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.employee-rides12 {
  position: absolute;
  top: 0;
  left: 384px;
  width: 364px;
  height: 489px;
}
.courtesy-rides13 {
  position: absolute;
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 201px;
  height: 43px;
}
.learn-more-parent38 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 107px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.courtesy-rides12 {
  position: absolute;
  top: 0;
  left: 768px;
  width: 364px;
  height: 489px;
}
.cards-in-3rd-section6,
.nd-section-bg6,
.rd-section6 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 1132px;
  height: 489px;
}
.nd-section-bg6,
.rd-section6 {
  top: 1901px;
  left: 154px;
  height: 660px;
}
.nd-section-bg6 {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1440px;
  height: 791px;
}
.india-map-icon6 {
  position: absolute;
  top: calc(50% - 203.5px);
  right: 0;
  width: 850px;
  height: 527px;
  object-fit: cover;
}
.setting-10000-cities6 {
  position: absolute;
  top: 142px;
  left: 154px;
  line-height: 63px;
  font-weight: 500;
  display: inline-block;
  width: 652px;
  height: 126px;
}
.view-cities7 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 362px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline-icon24 {
  position: absolute;
  margin: 0 !important;
  top: 38.98px;
  left: -0.01px;
  width: 86.25px;
  height: 2.02px;
  z-index: 1;
}
.view-cities-parent5 {
  position: absolute;
  top: 289px;
  left: 154px;
  width: 99px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mid);
}
.nd-section6 {
  top: 1024px;
  width: 1440px;
  height: 791px;
  font-size: var(--font-size-33xl);
}
.bg6,
.home-page-bg6,
.nd-section6 {
  position: absolute;
  left: 0;
}
.home-page-bg6 {
  top: 64px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 1440px;
  height: 958px;
}
.bg6 {
  top: 0;
  background-color: var(--color-gray-200);
  width: 1152px;
  height: 121px;
}
.carbonhelicopter-icon6 {
  position: absolute;
  top: 0;
  left: calc(50% - 15.5px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.elevate20 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24.5px);
  font-weight: 500;
}
.elevate19 {
  position: absolute;
  top: 26px;
  left: calc(50% + 482px);
  width: 49px;
  height: 65px;
}
.mingcutebike-line-icon6 {
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.bike12,
.bike13 {
  position: absolute;
}
.bike13 {
  top: 51px;
  left: calc(50% - 14px);
  font-weight: 500;
}
.bike12 {
  top: 23px;
  left: calc(50% + 347px);
  width: 30px;
  height: 68px;
}
.transit13 {
  position: absolute;
  top: 54px;
  left: calc(50% - 23.5px);
  font-weight: 500;
}
.transit12 {
  position: absolute;
  top: 23px;
  left: calc(50% + 195px);
  width: 47px;
  height: 71px;
}
.business13 {
  position: absolute;
  top: 49px;
  left: calc(50% - 30.5px);
  font-weight: 500;
}
.business12 {
  position: absolute;
  top: 23px;
  left: calc(50% + 44px);
  width: 61px;
  height: 66px;
}
.bitrain-freight-front-icon6 {
  position: absolute;
  top: 0;
  left: calc(50% - 13px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.freight13 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24px);
  font-weight: 500;
}
.freight12 {
  position: absolute;
  top: 21px;
  left: calc(50% - 94px);
  width: 48px;
  height: 65px;
}
.fluentfood-16-filled-icon6 {
  position: absolute;
  top: 0;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.eat19,
.eat20 {
  position: absolute;
}
.eat20 {
  top: 47px;
  left: calc(50% - 11.5px);
  font-weight: 500;
}
.eat19 {
  top: 22px;
  left: calc(50% - 227px);
  width: 25px;
  height: 64px;
}
.image-2-icon6,
.ride27 {
  position: absolute;
  left: calc(50% - 16px);
}
.image-2-icon6 {
  top: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ride27 {
  top: 53px;
  font-weight: 500;
}
.ride26,
.underline42 {
  position: absolute;
  width: 124px;
}
.underline42 {
  top: 94px;
  left: calc(50% - 62px);
  background-color: var(--color-gray-600);
  height: 4px;
}
.ride26 {
  top: 19px;
  left: calc(50% - 419px);
  height: 98px;
}
.image-1-icon6 {
  top: 0;
  left: calc(50% - 13.5px);
  width: 30px;
  height: 26.36px;
  object-fit: cover;
}
.earn12,
.earn13,
.image-1-icon6 {
  position: absolute;
}
.earn13 {
  top: 53px;
  left: calc(50% - 16.5px);
  font-weight: 500;
}
.earn12 {
  top: 19px;
  left: calc(50% - 518px);
  width: 33px;
  height: 70px;
}
.hero-icons6 {
  position: absolute;
  top: 105px;
  left: 142px;
  width: 1152px;
  height: 121px;
}
.border-icon6,
.hero-rectangle6 {
  position: absolute;
  left: 0;
  width: 612px;
}
.hero-rectangle6 {
  top: 0;
  background-color: var(--color-whitesmoke-100);
  height: 386px;
}
.border-icon6 {
  top: 3.48px;
  height: 1.52px;
}
.request-a-ride {
  position: absolute;
  top: 67px;
  left: 58px;
  font-size: var(--font-size-27xl);
  line-height: 51px;
  color: var(--color-black);
  display: inline-block;
  width: 481px;
}
.button-child4 {
  position: absolute;
  top: calc(50% - 25.5px);
  left: calc(50% - 104px);
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-600);
  width: 208px;
  height: 50px;
}
.button6,
.request-now {
  position: absolute;
  height: 51px;
}
.request-now {
  top: calc(50% - 25.5px);
  left: calc(50% - 66px);
  line-height: 51px;
  display: flex;
  align-items: center;
  width: 110px;
}
.button6 {
  top: calc(50% + 88px);
  left: calc(50% - 253px);
  width: 208px;
  color: var(--color-whitesmoke-100);
}
.button-child5,
.schedule-for-later {
  position: absolute;
  top: calc(50% - 25.5px);
}
.button-child5 {
  left: calc(50% - 104px);
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 208px;
  height: 50px;
}
.schedule-for-later {
  left: calc(50% - 75px);
  line-height: 51px;
}
.button7 {
  position: absolute;
  top: calc(50% + 88px);
  left: calc(50% - 0px);
  width: 208px;
  height: 51px;
  color: #201919;
}
.button-child6 {
  position: absolute;
  top: calc(50% - 16.76px);
  left: calc(50% - 217px);
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  width: 434px;
  height: 40.76px;
}
.enter-pickup-location {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 193px);
  line-height: 51px;
  display: inline-block;
  width: 332px;
  height: 42.42px;
}
.button-child7,
.button8 {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 253px);
  width: 434px;
  height: 48px;
}
.button-child7 {
  top: calc(50% - 17.88px);
  left: calc(50% - 217px);
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  height: 40.76px;
}
.enter-destination {
  position: absolute;
  top: calc(50% - 22.88px);
  left: calc(50% - 195px);
  line-height: 51px;
  display: inline-block;
  width: 332px;
  height: 35px;
}
.button9 {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 253px);
  width: 434px;
  height: 45.76px;
}
.hero-content6 {
  position: absolute;
  top: 222px;
  left: 142px;
  width: 612px;
  height: 386px;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.nav-inside6 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-800);
  width: 1280px;
  height: 64px;
}
.nav6,
.uber13 {
  position: absolute;
  left: 0;
}
.nav6 {
  top: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 64px;
}
.uber13 {
  top: 5px;
  font-size: var(--font-size-5xl);
}
.company-child5,
.company22 {
  position: absolute;
  top: 0;
  left: 0;
}
.company-child5 {
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 138px;
  height: 38px;
}
.company22 {
  font-weight: 500;
}
.company-parent5,
.group-child18 {
  position: absolute;
  top: 7.59px;
  left: 76.71px;
  width: 11.59px;
  height: 5.02px;
}
.company-parent5 {
  top: 10px;
  left: 25px;
  width: 88px;
  height: 17px;
}
.company21,
.en-child5 {
  position: absolute;
  top: 2px;
  left: 81px;
  width: 138px;
  height: 38px;
}
.en-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-700);
  width: 91px;
}
.en15 {
  position: absolute;
  top: 10px;
  left: 46px;
  font-weight: 500;
  display: inline-block;
  width: 20px;
  height: 17px;
}
.en-logo-icon7 {
  position: absolute;
  top: 9px;
  left: 19px;
  width: 21px;
  height: 20px;
}
.en14,
.products-child5 {
  position: absolute;
  top: 3px;
  left: 718px;
  width: 91px;
  height: 38px;
}
.products-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-500);
  width: 126px;
}
.products22 {
  position: absolute;
  top: 10px;
  left: 47px;
  font-weight: 500;
  display: inline-block;
  width: 66.65px;
}
.products-logo-child61,
.products-logo-child62,
.products-logo-child63,
.products-logo-child64,
.products-logo-child65 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child62,
.products-logo-child63,
.products-logo-child64,
.products-logo-child65 {
  top: 6.8px;
}
.products-logo-child63,
.products-logo-child64,
.products-logo-child65 {
  top: 13.6px;
  left: 7.57px;
}
.products-logo-child64,
.products-logo-child65 {
  left: 15.13px;
}
.products-logo-child65 {
  left: 0;
}
.products-logo-child66,
.products-logo-child67,
.products-logo-child68,
.products-logo-child69 {
  position: absolute;
  top: 6.8px;
  left: 7.57px;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child67,
.products-logo-child68,
.products-logo-child69 {
  left: 15.13px;
}
.products-logo-child68,
.products-logo-child69 {
  top: 0;
  left: 7.57px;
}
.products-logo-child69 {
  left: 15.13px;
}
.products-logo7 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 18.57px;
  height: 17px;
}
.login-child5,
.products21 {
  position: absolute;
  top: 3px;
  left: 831px;
  width: 126px;
  height: 38px;
}
.login-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 111px;
}
.login15 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-weight: 500;
  display: inline-block;
  width: 37.29px;
}
.login-logo-icon7 {
  position: absolute;
  top: 8px;
  left: 23.44px;
  width: 18.63px;
  height: 19px;
}
.login14,
.signup-child4 {
  position: absolute;
  top: 4px;
  left: 979px;
  width: 111px;
  height: 38px;
}
.signup-child4 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-snow-200);
  width: 96px;
}
.signup13 {
  position: absolute;
  top: 9px;
  left: 25px;
  font-weight: 500;
}
.safety-child5,
.signup12 {
  position: absolute;
  height: 38px;
}
.signup12 {
  top: 5px;
  left: 1112px;
  width: 96px;
  color: var(--color-gray-300);
}
.safety-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-300);
  width: 93px;
}
.safety22 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 20.5px);
  font-weight: 500;
  display: inline-block;
  width: 44px;
  height: 0.38px;
}
.help-child5,
.safety21 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 93px;
  height: 38px;
}
.help-child5 {
  top: 38px;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-400);
  width: 75px;
}
.help15 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 15.5px);
  font-weight: 500;
  display: inline-block;
  width: 31px;
  height: 0.4px;
}
.help14,
.nav-contents6 {
  position: absolute;
  top: 0;
  left: 366px;
  width: 75px;
  height: 38px;
}
.nav-contents6 {
  top: 13px;
  left: 142px;
  width: 1208px;
  height: 43px;
}
.navbar6,
.st-section6 {
  position: absolute;
  width: 1440px;
}
.navbar6 {
  top: 0;
  left: calc(50% - 720px);
  height: 64px;
  color: var(--color-snow-100);
}
.st-section6 {
  top: 2px;
  left: 0;
  height: 1022px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.desktop-2 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 4182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
