.mask-group-icon7 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1440px;
  height: 962px;
  object-fit: cover;
}
.footer-bg-icon7 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1440px;
  height: 574px;
}
.uber14,
.visit-help-center7 {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-12xl);
  font-weight: 500;
}
.visit-help-center7 {
  top: 65px;
  font-size: var(--font-size-6xl);
}
.about-us32,
.newsroom22 {
  position: absolute;
  top: 59px;
  left: 1px;
  font-weight: 500;
}
.newsroom22 {
  top: 89px;
}
.blog7,
.careers7,
.company23,
.investors7 {
  position: absolute;
  top: 119px;
  left: 0;
  font-weight: 500;
}
.blog7,
.careers7,
.company23 {
  top: 149px;
}
.careers7,
.company23 {
  top: 179px;
}
.company23 {
  top: 0;
  left: 3px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.company-footer7 {
  position: absolute;
  top: 153px;
  left: 0;
  width: 118px;
  height: 202px;
}
.diversity7,
.safety23 {
  position: absolute;
  top: 59px;
  left: 4px;
  font-weight: 500;
}
.diversity7 {
  top: 89px;
  left: 0;
}
.global-citizenship22,
.transparency7 {
  position: absolute;
  top: 119px;
  left: 2px;
  font-weight: 500;
}
.global-citizenship22 {
  top: 0;
  left: 0;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.global-citizenship-footer7,
.innovation-footer7,
.products-footer7 {
  position: absolute;
  top: 153px;
  left: 578px;
  width: 219px;
  height: 142px;
}
.innovation-footer7,
.products-footer7 {
  left: 868px;
  width: 130px;
}
.products-footer7 {
  left: 288px;
  width: 161px;
  height: 202px;
}
.footer7,
.inside-footer-info7 {
  position: absolute;
  top: 67px;
  left: 152px;
  width: 998px;
  height: 355px;
}
.footer7 {
  top: 3608px;
  left: -1px;
  width: 1440px;
  height: 574px;
  font-size: var(--font-size-lgi);
  color: var(--color-snow-100);
  font-family: var(--font-inter);
}
.signup-to-drive8 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
  font-weight: 500;
  display: inline-block;
  width: 541px;
  height: 59px;
}
.underline43 {
  position: absolute;
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 551px;
  height: 1px;
}
.drive15,
.ride29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 66px;
}
.ride29 {
  left: 578px;
}
.arrow-vector-icon14,
.arrow-vector-icon15 {
  position: absolute;
  height: 35.58%;
  width: 3.05%;
  top: 27.95%;
  right: 53.48%;
  bottom: 36.47%;
  left: 43.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-vector-icon15 {
  right: 1.88%;
  left: 95.07%;
}
.th-section21 {
  position: absolute;
  top: 3502px;
  left: 156px;
  width: 1128px;
  height: 66px;
  font-size: var(--font-size-24xl);
}
.global-citizenship24 {
  position: absolute;
  top: 41.33px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 252px;
  height: 46px;
}
.read-about-our7 {
  position: absolute;
  top: 94.33px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 361px;
  height: 66px;
}
.vector-icon15 {
  position: absolute;
  height: 14.24%;
  width: 8.77%;
  top: -0.37%;
  right: 90.35%;
  bottom: 86.13%;
  left: 0.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more45 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 40px;
  flex-shrink: 0;
}
.frame-child18 {
  position: relative;
  width: 88.03px;
  height: 1.4px;
}
.learn-more-parent39 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 107px;
  height: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.global-citizenship23 {
  position: absolute;
  top: 0;
  left: 770px;
  width: 361px;
  height: 224px;
}
.about-us34,
.find-out-how7 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.about-us34 {
  top: 36.04px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 23.48px;
}
.find-out-how7 {
  top: 89.29px;
  line-height: 30px;
  width: 361px;
  height: 66px;
}
.vector-icon16 {
  position: absolute;
  height: 13.09%;
  width: 8.24%;
  top: 0;
  right: 90.11%;
  bottom: 86.91%;
  left: 1.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more46 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 53px;
  flex-shrink: 0;
  z-index: 0;
}
.frame-child19 {
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: -0.02px;
  width: 88.02px;
  height: 1.55px;
  z-index: 1;
}
.learn-more-parent40 {
  position: absolute;
  top: 177.96px;
  left: 0;
  width: 104px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.about-us33,
.newsroom24 {
  position: absolute;
  top: 5.04px;
  left: 0;
  width: 364px;
  height: 230.96px;
}
.newsroom24 {
  top: 41.33px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 147px;
  height: 42px;
}
.group-icon7 {
  position: absolute;
  height: 14.12%;
  width: 8.66%;
  top: -0.28%;
  right: 90.41%;
  bottom: 86.16%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more47 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 113px;
  height: 39px;
  flex-shrink: 0;
}
.learn-more-parent41 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 102px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsroom23,
.th-section22 {
  position: absolute;
  top: 0;
  left: 385px;
  width: 361px;
  height: 223px;
}
.th-section22 {
  top: 3185px;
  left: 153px;
  width: 1131px;
  height: 236px;
}
.rd-section-image7 {
  position: absolute;
  top: 15px;
  left: 563px;
  width: 551px;
  height: 256px;
  object-fit: cover;
}
.our-commitment-to7 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  line-height: 47px;
  font-weight: 500;
  display: inline-block;
  width: 469px;
  height: 101px;
}
.learn-more-about8,
.see-all-safety7,
.with-every-safety7 {
  position: absolute;
  top: 249px;
  left: 3px;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
}
.learn-more-about8,
.with-every-safety7 {
  top: 218px;
  line-height: 31px;
  width: 456px;
}
.with-every-safety7 {
  top: 106px;
  left: 0;
  line-height: 30px;
  width: 524px;
  height: 100px;
}
.underline-icon25 {
  position: absolute;
  top: 244.98px;
  left: 5px;
  width: 376px;
  height: 2.02px;
}
.underline-icon26 {
  position: absolute;
  top: 289px;
  left: 4.99px;
  width: 184.01px;
  height: 3.03px;
}
.th-section-info7,
.th-section23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 524px;
  height: 292.03px;
}
.th-section23 {
  top: 2739px;
  left: 159px;
  width: 1114px;
}
.the-power-of7,
.uber-for-business16 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 51px;
  display: inline-block;
  width: 347px;
  height: 43px;
}
.uber-for-business16 {
  top: 0;
  font-size: var(--font-size-33xl);
  line-height: 63px;
  font-weight: 500;
  width: 469px;
  height: 65px;
}
.work-meals-image7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 361px;
  height: 268px;
  object-fit: cover;
}
.delight-your-employees7,
.work-meals15 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.work-meals15 {
  top: 293px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 43px;
}
.delight-your-employees7 {
  top: 341px;
  line-height: 30px;
  width: 361px;
  height: 100px;
}
.learn-more48 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline45 {
  position: absolute;
  margin: 0 !important;
  top: 42.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94px;
  height: 1px;
  z-index: 1;
}
.learn-more-parent42 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 105px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.employee-rides-image7,
.work-meals14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 489px;
}
.employee-rides-image7 {
  width: 360px;
  height: 268px;
  object-fit: cover;
}
.employee-rides15 {
  position: absolute;
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 205px;
  height: 43px;
}
.learn-more-parent43 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 104px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.employee-rides14 {
  position: absolute;
  top: 0;
  left: 384px;
  width: 364px;
  height: 489px;
}
.courtesy-rides15 {
  position: absolute;
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 201px;
  height: 43px;
}
.learn-more-parent44 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 107px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.courtesy-rides14 {
  position: absolute;
  top: 0;
  left: 768px;
  width: 364px;
  height: 489px;
}
.cards-in-3rd-section7,
.nd-section-bg7,
.rd-section7 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 1132px;
  height: 489px;
}
.nd-section-bg7,
.rd-section7 {
  top: 1901px;
  left: 154px;
  height: 660px;
}
.nd-section-bg7 {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1440px;
  height: 791px;
}
.india-map-icon7 {
  position: absolute;
  top: calc(50% - 203.5px);
  right: 0;
  width: 850px;
  height: 527px;
  object-fit: cover;
}
.setting-10000-cities7 {
  position: absolute;
  top: 142px;
  left: 154px;
  line-height: 63px;
  font-weight: 500;
  display: inline-block;
  width: 652px;
  height: 126px;
}
.view-cities8 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 362px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline-icon27 {
  position: absolute;
  margin: 0 !important;
  top: 38.98px;
  left: -0.01px;
  width: 86.25px;
  height: 2.02px;
  z-index: 1;
}
.view-cities-parent6 {
  position: absolute;
  top: 289px;
  left: 154px;
  width: 99px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mid);
}
.bg7,
.home-page-bg7,
.nd-section7 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.nd-section7 {
  top: 1024px;
  height: 791px;
  font-size: var(--font-size-33xl);
}
.bg7,
.home-page-bg7 {
  top: 64px;
  background-color: var(--color-gray-900);
  height: 958px;
}
.bg7 {
  top: 0;
  background-color: var(--color-gray-200);
  width: 1152px;
  height: 121px;
}
.carbonhelicopter-icon7 {
  position: absolute;
  top: 0;
  left: calc(50% - 15.5px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.elevate23 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24.5px);
  font-weight: 500;
}
.elevate22 {
  position: absolute;
  top: 26px;
  left: calc(50% + 482px);
  width: 49px;
  height: 65px;
}
.mingcutebike-line-icon7 {
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.bike14,
.bike15 {
  position: absolute;
}
.bike15 {
  top: 51px;
  left: calc(50% - 14px);
  font-weight: 500;
}
.bike14 {
  top: 23px;
  left: calc(50% + 347px);
  width: 30px;
  height: 68px;
}
.transit15 {
  position: absolute;
  top: 54px;
  left: calc(50% - 23.5px);
  font-weight: 500;
}
.transit14 {
  position: absolute;
  top: 23px;
  left: calc(50% + 195px);
  width: 47px;
  height: 71px;
}
.business15 {
  position: absolute;
  top: 49px;
  left: calc(50% - 30.5px);
  font-weight: 500;
}
.business14 {
  position: absolute;
  top: 23px;
  left: calc(50% + 44px);
  width: 61px;
  height: 66px;
}
.bitrain-freight-front-icon7 {
  position: absolute;
  top: 0;
  left: calc(50% - 13px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.freight15 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24px);
  font-weight: 500;
}
.freight14 {
  position: absolute;
  top: 21px;
  left: calc(50% - 94px);
  width: 48px;
  height: 65px;
}
.fluentfood-16-filled-icon7 {
  position: absolute;
  top: 0;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.eat22,
.eat23 {
  position: absolute;
}
.eat23 {
  top: 47px;
  left: calc(50% - 11.5px);
  font-weight: 500;
}
.eat22 {
  top: 22px;
  left: calc(50% - 227px);
  width: 25px;
  height: 64px;
}
.image-2-icon7,
.ride31 {
  position: absolute;
  left: calc(50% - 15px);
}
.image-2-icon7 {
  top: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ride31 {
  top: 53px;
  font-weight: 500;
}
.image-1-icon7,
.ride30 {
  position: absolute;
  top: 19px;
  left: calc(50% - 373px);
  width: 30px;
  height: 70px;
}
.image-1-icon7 {
  top: 0;
  left: calc(50% - 13px);
  height: 26.36px;
  object-fit: cover;
}
.earn-child {
  top: 98px;
  left: calc(50% - 62px);
  background-color: var(--color-gray-600);
  width: 124px;
  height: 4px;
}
.earn-child,
.earn14,
.earn15 {
  position: absolute;
}
.earn15 {
  top: 53px;
  left: calc(50% - 16px);
  font-weight: 500;
}
.earn14 {
  top: 19px;
  left: calc(50% - 564px);
  width: 124px;
  height: 102px;
}
.hero-icons7 {
  position: absolute;
  top: 105px;
  left: 142px;
  width: 1152px;
  height: 121px;
}
.border-icon7,
.hero-rectangle7 {
  position: absolute;
  left: 0;
  width: 612px;
}
.hero-rectangle7 {
  top: 0.02px;
  background-color: var(--color-whitesmoke-100);
  height: 386px;
}
.border-icon7 {
  top: -0.5px;
  height: 1.52px;
}
.drive-on-the,
.get-in-the {
  position: absolute;
  line-height: 51px;
  display: inline-block;
}
.get-in-the {
  top: 43.02px;
  left: 58px;
  font-size: var(--font-size-27xl);
  width: 420px;
  height: 126px;
}
.drive-on-the {
  top: 162.02px;
  left: 54px;
  width: 537px;
  height: 43px;
}
.button-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-600);
  width: 233px;
  height: 59px;
}
.signup-to-drive9 {
  position: absolute;
  top: 3px;
  left: calc(50% - 89.5px);
  line-height: 51px;
  display: inline-block;
  width: 178px;
  height: 43px;
}
.button10 {
  position: absolute;
  top: 227.02px;
  left: 56px;
  width: 233px;
  height: 59px;
  font-size: var(--font-size-3xl);
  color: var(--color-whitesmoke-100);
}
.learn-more-about9 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
}
.underline-icon28 {
  position: absolute;
  top: 46.05px;
  left: 0;
  width: 340px;
  height: 1.95px;
}
.hero-content7,
.learn-more-about-driving-and-d-group {
  position: absolute;
  top: 296.02px;
  left: 56px;
  width: 361px;
  height: 48px;
}
.hero-content7 {
  top: 225.98px;
  left: 142px;
  width: 612px;
  height: 386.02px;
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
}
.nav-inside7 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-800);
  width: 1280px;
  height: 64px;
}
.nav7,
.uber15 {
  position: absolute;
  left: 0;
}
.nav7 {
  top: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 64px;
}
.uber15 {
  top: 5px;
  font-size: var(--font-size-5xl);
}
.company-child6,
.company25 {
  position: absolute;
  top: 0;
  left: 0;
}
.company-child6 {
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 138px;
  height: 38px;
}
.company25 {
  font-weight: 500;
}
.company-parent6,
.group-child19 {
  position: absolute;
  top: 7.59px;
  left: 76.71px;
  width: 11.59px;
  height: 5.02px;
}
.company-parent6 {
  top: 10px;
  left: 25px;
  width: 88px;
  height: 17px;
}
.company-frame1,
.company24,
.en-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 38px;
}
.company-frame1,
.en-child6 {
  top: 2px;
  left: 81px;
}
.en-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-700);
  width: 91px;
}
.en17 {
  position: absolute;
  top: 10px;
  left: 46px;
  font-weight: 500;
  display: inline-block;
  width: 20px;
  height: 17px;
}
.en-logo-icon8 {
  position: absolute;
  top: 9px;
  left: 19px;
  width: 21px;
  height: 20px;
}
.en16,
.products-child6 {
  position: absolute;
  top: 3px;
  left: 718px;
  width: 91px;
  height: 38px;
}
.products-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-500);
  width: 126px;
}
.products25 {
  position: absolute;
  top: 10px;
  left: 47px;
  font-weight: 500;
  display: inline-block;
  width: 66.65px;
}
.products-logo-child70,
.products-logo-child71,
.products-logo-child72,
.products-logo-child73,
.products-logo-child74 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child71,
.products-logo-child72,
.products-logo-child73,
.products-logo-child74 {
  top: 6.8px;
}
.products-logo-child72,
.products-logo-child73,
.products-logo-child74 {
  top: 13.6px;
  left: 7.57px;
}
.products-logo-child73,
.products-logo-child74 {
  left: 15.13px;
}
.products-logo-child74 {
  left: 0;
}
.products-logo-child75,
.products-logo-child76,
.products-logo-child77,
.products-logo-child78 {
  position: absolute;
  top: 6.8px;
  left: 7.57px;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child76,
.products-logo-child77,
.products-logo-child78 {
  left: 15.13px;
}
.products-logo-child77,
.products-logo-child78 {
  top: 0;
  left: 7.57px;
}
.products-logo-child78 {
  left: 15.13px;
}
.products-logo8 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 18.57px;
  height: 17px;
}
.login-child6,
.products24 {
  position: absolute;
  top: 3px;
  left: 831px;
  width: 126px;
  height: 38px;
}
.login-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 111px;
}
.login17 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-weight: 500;
  display: inline-block;
  width: 37.29px;
}
.login-logo-icon8 {
  position: absolute;
  top: 8px;
  left: 23.44px;
  width: 18.63px;
  height: 19px;
}
.login16,
.signup-child5 {
  position: absolute;
  top: 4px;
  left: 979px;
  width: 111px;
  height: 38px;
}
.signup-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-snow-200);
  width: 96px;
}
.signup15 {
  position: absolute;
  top: 9px;
  left: 25px;
  font-weight: 500;
}
.safety-child6,
.signup14 {
  position: absolute;
  height: 38px;
}
.signup14 {
  top: 5px;
  left: 1112px;
  width: 96px;
  color: var(--color-gray-300);
}
.safety-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-300);
  width: 93px;
}
.safety25 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 20.5px);
  font-weight: 500;
  display: inline-block;
  width: 44px;
  height: 0.38px;
}
.help-child6,
.safety24 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 93px;
  height: 38px;
}
.help-child6 {
  top: 38px;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-400);
  width: 75px;
}
.help17 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 15.5px);
  font-weight: 500;
  display: inline-block;
  width: 31px;
  height: 0.4px;
}
.help16,
.nav-contents7 {
  position: absolute;
  top: 0;
  left: 366px;
  width: 75px;
  height: 38px;
}
.nav-contents7 {
  top: 13px;
  left: 142px;
  width: 1208px;
  height: 43px;
}
.navbar7,
.st-section7 {
  position: absolute;
  width: 1440px;
}
.navbar7 {
  top: 0;
  left: calc(50% - 720px);
  height: 64px;
  color: var(--color-snow-100);
}
.st-section7 {
  top: 2px;
  left: 0;
  height: 1022px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 4182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
