.mask-group-icon4 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1440px;
  height: 962px;
  object-fit: cover;
}
.footer-bg-icon4 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1440px;
  height: 574px;
}
.uber8,
.visit-help-center4 {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-12xl);
  font-weight: 500;
}
.visit-help-center4 {
  top: 65px;
  font-size: var(--font-size-6xl);
}
.about-us23,
.newsroom13 {
  position: absolute;
  top: 59px;
  left: 1px;
  font-weight: 500;
}
.newsroom13 {
  top: 89px;
}
.blog4,
.careers4,
.company14,
.investors4 {
  position: absolute;
  top: 119px;
  left: 0;
  font-weight: 500;
}
.blog4,
.careers4,
.company14 {
  top: 149px;
}
.careers4,
.company14 {
  top: 179px;
}
.company14 {
  top: 0;
  left: 3px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.company-footer4 {
  position: absolute;
  top: 153px;
  left: 0;
  width: 118px;
  height: 202px;
}
.diversity4,
.safety14 {
  position: absolute;
  top: 59px;
  left: 4px;
  font-weight: 500;
}
.diversity4 {
  top: 89px;
  left: 0;
}
.global-citizenship13,
.transparency4 {
  position: absolute;
  top: 119px;
  left: 2px;
  font-weight: 500;
}
.global-citizenship13 {
  top: 0;
  left: 0;
  font-size: var(--font-size-8xl);
  font-family: var(--font-roboto);
}
.global-citizenship-footer4,
.innovation-footer4,
.products-footer4 {
  position: absolute;
  top: 153px;
  left: 578px;
  width: 219px;
  height: 142px;
}
.innovation-footer4,
.products-footer4 {
  left: 868px;
  width: 130px;
}
.products-footer4 {
  left: 288px;
  width: 161px;
  height: 202px;
}
.footer4,
.inside-footer-info4 {
  position: absolute;
  top: 67px;
  left: 152px;
  width: 998px;
  height: 355px;
}
.footer4 {
  top: 3608px;
  left: -1px;
  width: 1440px;
  height: 574px;
  font-size: var(--font-size-lgi);
  color: var(--color-snow-100);
  font-family: var(--font-inter);
}
.signup-to-drive5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
  font-weight: 500;
  display: inline-block;
  width: 541px;
  height: 59px;
}
.underline26 {
  position: absolute;
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 551px;
  height: 1px;
}
.drive9,
.ride17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 66px;
}
.ride17 {
  left: 578px;
}
.arrow-vector-icon8,
.arrow-vector-icon9 {
  position: absolute;
  height: 35.58%;
  width: 3.05%;
  top: 27.95%;
  right: 53.48%;
  bottom: 36.47%;
  left: 43.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-vector-icon9 {
  right: 1.88%;
  left: 95.07%;
}
.th-section12 {
  position: absolute;
  top: 3502px;
  left: 156px;
  width: 1128px;
  height: 66px;
  font-size: var(--font-size-24xl);
}
.global-citizenship15 {
  position: absolute;
  top: 41.33px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 252px;
  height: 46px;
}
.read-about-our4 {
  position: absolute;
  top: 94.33px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 361px;
  height: 66px;
}
.vector-icon9 {
  position: absolute;
  height: 14.24%;
  width: 8.77%;
  top: -0.37%;
  right: 90.35%;
  bottom: 86.13%;
  left: 0.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more27 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 40px;
  flex-shrink: 0;
}
.frame-child9 {
  position: relative;
  width: 88.03px;
  height: 1.4px;
}
.learn-more-parent21 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 107px;
  height: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.global-citizenship14 {
  position: absolute;
  top: 0;
  left: 770px;
  width: 361px;
  height: 224px;
}
.about-us25,
.find-out-how4 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.about-us25 {
  top: 36.04px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 23.48px;
}
.find-out-how4 {
  top: 89.29px;
  line-height: 30px;
  width: 361px;
  height: 66px;
}
.vector-icon10 {
  position: absolute;
  height: 13.09%;
  width: 8.24%;
  top: 0;
  right: 90.11%;
  bottom: 86.91%;
  left: 1.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more28 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 53px;
  flex-shrink: 0;
  z-index: 0;
}
.frame-child10 {
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: -0.02px;
  width: 88.02px;
  height: 1.55px;
  z-index: 1;
}
.learn-more-parent22 {
  position: absolute;
  top: 177.96px;
  left: 0;
  width: 104px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.about-us24,
.newsroom15 {
  position: absolute;
  top: 5.04px;
  left: 0;
  width: 364px;
  height: 230.96px;
}
.newsroom15 {
  top: 41.33px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 147px;
  height: 42px;
}
.group-icon4 {
  position: absolute;
  height: 14.12%;
  width: 8.66%;
  top: -0.28%;
  right: 90.41%;
  bottom: 86.16%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-more29 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 113px;
  height: 39px;
  flex-shrink: 0;
}
.learn-more-parent23 {
  position: absolute;
  top: 183px;
  left: 0;
  width: 102px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsroom14,
.th-section13 {
  position: absolute;
  top: 0;
  left: 385px;
  width: 361px;
  height: 223px;
}
.th-section13 {
  top: 3185px;
  left: 153px;
  width: 1131px;
  height: 236px;
}
.rd-section-image4 {
  position: absolute;
  top: 15px;
  left: 563px;
  width: 551px;
  height: 256px;
  object-fit: cover;
}
.our-commitment-to4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  line-height: 47px;
  font-weight: 500;
  display: inline-block;
  width: 469px;
  height: 101px;
}
.learn-more-about5,
.see-all-safety4,
.with-every-safety4 {
  position: absolute;
  top: 249px;
  left: 3px;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
}
.learn-more-about5,
.with-every-safety4 {
  top: 218px;
  line-height: 31px;
  width: 456px;
}
.with-every-safety4 {
  top: 106px;
  left: 0;
  line-height: 30px;
  width: 524px;
  height: 100px;
}
.underline-icon14 {
  position: absolute;
  top: 244.98px;
  left: 5px;
  width: 376px;
  height: 2.02px;
}
.underline-icon15 {
  position: absolute;
  top: 289px;
  left: 4.99px;
  width: 184.01px;
  height: 3.03px;
}
.th-section-info4,
.th-section14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 524px;
  height: 292.03px;
}
.th-section14 {
  top: 2739px;
  left: 159px;
  width: 1114px;
}
.the-power-of4,
.uber-for-business10 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 51px;
  display: inline-block;
  width: 347px;
  height: 43px;
}
.uber-for-business10 {
  top: 0;
  font-size: var(--font-size-33xl);
  line-height: 63px;
  font-weight: 500;
  width: 469px;
  height: 65px;
}
.work-meals-image4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 361px;
  height: 268px;
  object-fit: cover;
}
.delight-your-employees4,
.work-meals9 {
  position: absolute;
  left: 3px;
  display: inline-block;
}
.work-meals9 {
  top: 293px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  width: 169px;
  height: 43px;
}
.delight-your-employees4 {
  top: 341px;
  line-height: 30px;
  width: 361px;
  height: 100px;
}
.learn-more30 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline28 {
  position: absolute;
  margin: 0 !important;
  top: 42.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94px;
  height: 1px;
  z-index: 1;
}
.learn-more-parent24 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 105px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.employee-rides-image4,
.work-meals8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 489px;
}
.employee-rides-image4 {
  width: 360px;
  height: 268px;
  object-fit: cover;
}
.employee-rides9 {
  position: absolute;
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 205px;
  height: 43px;
}
.learn-more-parent25 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 104px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.courtesy-rides9,
.employee-rides8 {
  position: absolute;
  top: 0;
  left: 384px;
  width: 364px;
  height: 489px;
}
.courtesy-rides9 {
  top: 293px;
  left: 3px;
  font-size: var(--font-size-5xl);
  line-height: 51px;
  font-weight: 600;
  display: inline-block;
  width: 201px;
  height: 43px;
}
.learn-more-parent26 {
  position: absolute;
  top: 446px;
  left: 3px;
  width: 107px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.courtesy-rides8 {
  position: absolute;
  top: 0;
  left: 768px;
  width: 364px;
  height: 489px;
}
.cards-in-3rd-section4,
.nd-section-bg4,
.rd-section4 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 1132px;
  height: 489px;
}
.nd-section-bg4,
.rd-section4 {
  top: 1901px;
  left: 154px;
  height: 660px;
}
.nd-section-bg4 {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1440px;
  height: 791px;
}
.india-map-icon4 {
  position: absolute;
  top: calc(50% - 203.5px);
  right: 0;
  width: 850px;
  height: 527px;
  object-fit: cover;
}
.setting-10000-cities4 {
  position: absolute;
  top: 142px;
  left: 154px;
  line-height: 63px;
  font-weight: 500;
  display: inline-block;
  width: 652px;
  height: 126px;
}
.view-cities5 {
  position: relative;
  line-height: 51px;
  display: inline-block;
  width: 362px;
  height: 43px;
  flex-shrink: 0;
  z-index: 0;
}
.underline-icon16 {
  position: absolute;
  margin: 0 !important;
  top: 38.98px;
  left: -0.01px;
  width: 86.25px;
  height: 2.02px;
  z-index: 1;
}
.view-cities-parent3 {
  position: absolute;
  top: 289px;
  left: 154px;
  width: 99px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mid);
}
.bg4,
.home-page-bg4,
.nd-section4 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.nd-section4 {
  top: 1024px;
  height: 791px;
  font-size: var(--font-size-33xl);
}
.bg4,
.home-page-bg4 {
  top: 64px;
  background-color: var(--color-gray-900);
  height: 958px;
}
.bg4 {
  top: 0;
  background-color: var(--color-gray-200);
  width: 1152px;
  height: 121px;
}
.carbonhelicopter-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 15.5px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.elevate14 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24.5px);
  font-weight: 500;
}
.elevate13 {
  position: absolute;
  top: 26px;
  left: calc(50% + 482px);
  width: 49px;
  height: 65px;
}
.mingcutebike-line-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.bike8,
.bike9 {
  position: absolute;
}
.bike9 {
  top: 51px;
  left: calc(50% - 14px);
  font-weight: 500;
}
.bike8 {
  top: 23px;
  left: calc(50% + 347px);
  width: 30px;
  height: 68px;
}
.transit9 {
  position: absolute;
  top: 54px;
  left: calc(50% - 23.5px);
  font-weight: 500;
}
.transit8 {
  position: absolute;
  top: 23px;
  left: calc(50% + 195px);
  width: 47px;
  height: 71px;
}
.business9 {
  position: absolute;
  top: 49px;
  left: calc(50% - 30.5px);
  font-weight: 500;
}
.business8 {
  position: absolute;
  top: 23px;
  left: calc(50% + 44px);
  width: 61px;
  height: 66px;
}
.bitrain-freight-front-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 13px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.freight9 {
  position: absolute;
  top: 48px;
  left: calc(50% - 24px);
  font-weight: 500;
}
.freight-child,
.freight8 {
  position: absolute;
  width: 124px;
}
.freight-child {
  top: 96px;
  left: calc(50% - 62px);
  background-color: var(--color-gray-600);
  height: 4px;
}
.freight8 {
  top: 21px;
  left: calc(50% - 132px);
  height: 100px;
}
.fluentfood-16-filled-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.eat13,
.eat14 {
  position: absolute;
}
.eat14 {
  top: 47px;
  left: calc(50% - 11.5px);
  font-weight: 500;
}
.eat13 {
  top: 22px;
  left: calc(50% - 227px);
  width: 25px;
  height: 64px;
}
.image-2-icon4 {
  top: 0;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.image-2-icon4,
.ride18,
.ride19 {
  position: absolute;
}
.ride19 {
  top: 53px;
  left: calc(50% - 15px);
  font-weight: 500;
}
.ride18 {
  top: 19px;
  left: calc(50% - 373px);
  width: 30px;
  height: 70px;
}
.image-1-icon4 {
  top: 0;
  left: calc(50% - 13.5px);
  width: 30px;
  height: 26.36px;
  object-fit: cover;
}
.earn8,
.earn9,
.image-1-icon4 {
  position: absolute;
}
.earn9 {
  top: 53px;
  left: calc(50% - 16.5px);
  font-weight: 500;
}
.earn8 {
  top: 19px;
  left: calc(50% - 518px);
  width: 33px;
  height: 70px;
}
.hero-icons4 {
  position: absolute;
  top: 105px;
  left: 142px;
  width: 1152px;
  height: 121px;
}
.border-icon4,
.hero-rectangle4 {
  position: absolute;
  left: 0;
  width: 612px;
}
.hero-rectangle4 {
  top: 1.02px;
  background-color: var(--color-whitesmoke-100);
  height: 386px;
}
.border-icon4 {
  top: -0.5px;
  height: 1.52px;
}
.a-new-direction,
.greater-transparecy-for {
  position: absolute;
  left: 56px;
  display: inline-block;
}
.a-new-direction {
  top: 36.02px;
  font-size: var(--font-size-27xl);
  line-height: 51px;
  width: 546px;
}
.greater-transparecy-for {
  top: 155.02px;
  line-height: 28px;
  width: 542px;
}
.button-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-600);
  width: 233px;
  height: 59px;
}
.get-shipper-details {
  position: absolute;
  top: 4px;
  left: calc(50% - 103.5px);
  line-height: 51px;
  display: inline-block;
  width: 207px;
}
.button4 {
  position: absolute;
  top: 228.02px;
  left: 53px;
  width: 233px;
  height: 59px;
  font-size: var(--font-size-3xl);
  color: var(--color-whitesmoke-100);
}
.sign-up-to1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 51px;
  display: inline-block;
  width: 361px;
  height: 43px;
}
.underline31 {
  position: absolute;
  top: 47.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 202px;
  height: 1px;
}
.hero-content4,
.sign-up-to-be-a-carriers-group {
  position: absolute;
  top: 296.02px;
  left: 56px;
  width: 361px;
  height: 48px;
}
.hero-content4 {
  top: 225.98px;
  left: 142px;
  width: 612px;
  height: 387.02px;
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
}
.nav-inside4 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-800);
  width: 1280px;
  height: 64px;
}
.nav4,
.uber9 {
  position: absolute;
  left: 0;
}
.nav4 {
  top: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 64px;
}
.uber9 {
  top: 5px;
  font-size: var(--font-size-5xl);
}
.company-child3,
.company16 {
  position: absolute;
  top: 0;
  left: 0;
}
.company-child3 {
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 138px;
  height: 38px;
}
.company16 {
  font-weight: 500;
}
.company-parent3,
.group-child16 {
  position: absolute;
  top: 7.59px;
  left: 76.71px;
  width: 11.59px;
  height: 5.02px;
}
.company-parent3 {
  top: 10px;
  left: 25px;
  width: 88px;
  height: 17px;
}
.company15,
.en-child3 {
  position: absolute;
  top: 2px;
  left: 81px;
  width: 138px;
  height: 38px;
}
.en-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-700);
  width: 91px;
}
.en11 {
  position: absolute;
  top: 10px;
  left: 46px;
  font-weight: 500;
  display: inline-block;
  width: 20px;
  height: 17px;
}
.en-logo-icon5 {
  position: absolute;
  top: 9px;
  left: 19px;
  width: 21px;
  height: 20px;
}
.en10,
.products-child3 {
  position: absolute;
  top: 3px;
  left: 718px;
  width: 91px;
  height: 38px;
}
.products-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-500);
  width: 126px;
}
.products16 {
  position: absolute;
  top: 10px;
  left: 47px;
  font-weight: 500;
  display: inline-block;
  width: 66.65px;
}
.products-logo-child43,
.products-logo-child44,
.products-logo-child45,
.products-logo-child46,
.products-logo-child47 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child44,
.products-logo-child45,
.products-logo-child46,
.products-logo-child47 {
  top: 6.8px;
}
.products-logo-child45,
.products-logo-child46,
.products-logo-child47 {
  top: 13.6px;
  left: 7.57px;
}
.products-logo-child46,
.products-logo-child47 {
  left: 15.13px;
}
.products-logo-child47 {
  left: 0;
}
.products-logo-child48,
.products-logo-child49,
.products-logo-child50,
.products-logo-child51 {
  position: absolute;
  top: 6.8px;
  left: 7.57px;
  background-color: var(--color-gainsboro-300);
  width: 3.44px;
  height: 3.4px;
}
.products-logo-child49,
.products-logo-child50,
.products-logo-child51 {
  left: 15.13px;
}
.products-logo-child50,
.products-logo-child51 {
  top: 0;
  left: 7.57px;
}
.products-logo-child51 {
  left: 15.13px;
}
.products-logo5 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 18.57px;
  height: 17px;
}
.login-child3,
.products15 {
  position: absolute;
  top: 3px;
  left: 831px;
  width: 126px;
  height: 38px;
}
.login-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-black);
  width: 111px;
}
.login11 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-weight: 500;
  display: inline-block;
  width: 37.29px;
}
.login-logo-icon5 {
  position: absolute;
  top: 8px;
  left: 23.44px;
  width: 18.63px;
  height: 19px;
}
.login10,
.signup-child2 {
  position: absolute;
  top: 4px;
  left: 979px;
  width: 111px;
  height: 38px;
}
.signup-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-snow-200);
  width: 96px;
}
.signup9 {
  position: absolute;
  top: 9px;
  left: 25px;
  font-weight: 500;
}
.safety-child3,
.signup8 {
  position: absolute;
  height: 38px;
}
.signup8 {
  top: 5px;
  left: 1112px;
  width: 96px;
  color: var(--color-gray-300);
}
.safety-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-300);
  width: 93px;
}
.safety16 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 20.5px);
  font-weight: 500;
  display: inline-block;
  width: 44px;
  height: 0.38px;
}
.help-child3,
.safety15 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 93px;
  height: 38px;
}
.help-child3 {
  top: 38px;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-400);
  width: 75px;
}
.help11 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 15.5px);
  font-weight: 500;
  display: inline-block;
  width: 31px;
  height: 0.4px;
}
.help10,
.nav-contents4 {
  position: absolute;
  top: 0;
  left: 366px;
  width: 75px;
  height: 38px;
}
.nav-contents4 {
  top: 13px;
  left: 142px;
  width: 1208px;
  height: 43px;
}
.navbar4,
.st-section4 {
  position: absolute;
  width: 1440px;
}
.navbar4 {
  top: 0;
  left: calc(50% - 720px);
  height: 64px;
  color: var(--color-snow-100);
}
.st-section4 {
  top: 2px;
  left: 0;
  height: 1022px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.desktop-4 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 4182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
